.header{
    background-color: rgb(67, 168, 222);
    width: 100%;
    padding:50px 50px;
    text-align: center;
    text-transform:uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px; 
    color: whitesmoke;
    
}